<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
    <nav class="nav-bar">
      <div class="gutter-container">
        <div class="logo"><a href="<%= cats_url %>">99 Cats</a></div>
      </div>
    </nav>

    <div class="page-container">

      <%= yield %>

    </div>
  </body>
</html>
